{% load static %}
<!DOCTYPE html>
<html lang="it">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
 <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Parallax-Scroll-Effect.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body class="bg-gradient-primary background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5" style="border-top-left-radius: 23px;border-bottom-left-radius: 23px;border-top-right-radius: 23px;border-bottom-right-radius: 23px;">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                            
                                <div class="flex-grow-1 bg-login-image" style="background-image: url('{% static 'assets/img/Login.png' %}');border-top-left-radius: 23px;border-bottom-left-radius: 23px;norepeat"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Bentornato!</h4>
                                    </div>
                                 
                                    <form class="user"  method="POST">
                                    {% if messages %}
                                        <ul class="messages">
                                           {% for message in messages %}
                                             <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                              {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% csrf_token %}
                                      
                                        <div class="form-group"><input class="form-control form-control-user" type="text" id="id-username" aria-describedby="usernameHelp" placeholder="Inserisci la tua username..." name="username" style="border-radius: 13px;"></div>
                                        <div class="form-group"><input class="form-control form-control-user" type="password" id="id-password" placeholder="Password" name="password" style="border-radius: 13px;"></div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Ricordami</label></div>
                                            </div>
                                        </div><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="border-radius: 160px;background: var(--green);border-color: var(--green);">Login</button>
                                        <hr>
                                    </form>
                                    <div class="text-center" style="color: var(--success);"><a class="small" href="{% url 'reset_password' %}" style="color: var(--green);">Hai dimenticato la Password?</a></div>
                                    <div class="text-center"><a class="small" href="{% url 'user_registration' %}" style="color: var(--success);">Sei un nuovo utente? Registrati!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>